[BUG] Namespace not valid (doesn't allow underscores?)

**How: List of performed steps**
Valid model can be loaded.
Configuration in the stettings not possible, due to "incorrect namespace".

**What: Actual result vs expected result**
Namespace is correct

**Where: (e.g. component, version, url, your system info)**
Seetings window

AME version: 5.2.0
SAMM version: 2.1.0
ESMF SDK version: 2.4.2

**Input (files/screenshots)**
io.catenax.battery.battery_pass

**Output (files/screenshots)**
![image](https://github.com/eclipse-esmf/esmf-sdk/assets/92307971/ec952ccd-4d2f-4b84-9ee9-a73b66513ae5)

**Additional context (e.g. references)**

I assume, the namespace doesn't accepts underscores (_)


I think I need to revise my comment and re-open the issue. Per [RFC 1123](http://www.ietf.org/rfc/rfc1123.txt), _host names_ may not contain underscores, but _domain names_ are allowed to (see [RFC 2181, section 11, "Name syntax"](https://www.rfc-editor.org/rfc/rfc2181#section-11)).
I'd say this is currently underspecified in SAMM; use of underscores in namespaces was _not intended_ but is not disallowed according to the specification.
I've created an issue in SAMM to address this: https://github.com/eclipse-esmf/esmf-semantic-aspect-meta-model/issues/285